.acc_service-card {
  padding: 30px;
  display: flex;
  /* justify-content: left; */
  flex-direction: column;
  /* flex-basis: 150px; */
  /* flex-wrap: wrap; */
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin: 16px;
  min-width: 320px;
  /* max-width: 270px; */
  max-height: auto;
  /* max-width: 200px; */
}

.acc_service-icon {
  font-size: 28px;
}

.acc_info__detail {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-top: 4px;
}
.acc_info__service-name {
  padding-top: 32px;
  font-size: 16px;
  padding-bottom: 16px;
}
.acc_info__deatil-item {
  padding-left: 8px;
}

.acc_service-card__header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  /* height: 0%; */
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  max-height: 36px;
}

.acc_service-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.acc_card__body {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.acc_service-card__service-type {
  background-color: rgb(255, 88, 88);
  /* margin: 8px; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  font-weight: bold;
  padding-bottom: 12px;
  font-size: 16px;
  color: white;
  border-radius: 12px;
}

.acc_service-card__accept,
.acc_service-card__decline {
  background-color: rgb(236, 236, 236);
  color: #eb5858;
  margin-top: 54px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: bold;
}

/* .service-card__decline {
  background-color: rgb(236, 236, 236);
  color: rgb(235, 88, 88);
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 54px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: bold;
} */

.acc_service-card__control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.acc_service_loc {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.acc_service_loc__ {
  background-color: rgb(236, 236, 236);
  color: #eb5858;
  width: 100%;
  margin: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: bold;
}
.filter {
  fill-rule: inherit;
  padding-top: 4px;
}
